img {
  width: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

#title {
  color: whitesmoke;
  font-weight: 150;
  font-style: oblique;
}

.contact-me {
  color: royalblue;
  font-size: larger;
}
.name {
  font: bold;
  font-size: larger;
}
.contact {
  color: yellow;
}
.active {
  color: black;
}
.form {
  color: burlywood;
  float: inline-end;
  background-color: darkolivegreen;
}
table,
tr,
td {
  text-align-last: center;
  background-color: #04aa6d;
  color: rgb(180, 16, 16);
  border: 1.5px solid white;
  box-sizing: border-box;
  font-size: 1.4em;
  font-family: sans-serif;
  min-width: 40px;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}


th {
  background-color: black;
}
body {
  background-image: url("https://www.pngmagic.com/product_images/light-beautifull-background-design-sm.jpg");
  background-color: #cccccc;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
